<html>
	<head>
		
	</head>
	<body>
		
		<h1>page 1</h1>
		<h1>page 1</h1>
		<h1>page 1</h1>

		<div class="home-banner-section">
			<div class="fixed-thumb">
			</div>
		</div>
	</body>


	<script src="js/index.js"></script>
</html>