body 
	font-family: $font-1
ul 
	padding-left: 0
	margin-bottom: 0
	list-style: none

img 
	max-width: 100%
input:focus
	outline: none
textarea:focus
	outline: 0
a:focus, a:hover
	text-decoration: none

button:focus 
	outline: 0

form 
	margin-bottom: 0

.section
	position: relative

.swiper-slide, .swiper-wrapper
	height: auto


p 
	font-size: 16px